@model RH.Presentacion.MVC_C.Models.PersonaModel

@using (Html.BeginForm("CreateUpdate", "Home", FormMethod.Post))
{
    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="row">
        @if (@ViewBag.Title == "Editar persona")
        {
            <div class="col-xs-6">
                <label>Id persona</label>
            </div>

            <div class="col-xs-6">
                <label>@ViewBag.Persona.IdPersona</label>
            </div>
        }
        <div class="col-xs-6" style="display: none;">
            @Html.TextBoxFor(m => m.IdPersona, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <label>Nombre</label>
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <label>Apellido</label>
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <label>Telefono</label>
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
        </div>
    </div>
    <br />
    if (@ViewBag.Title == "Editar persona")
    {
        <input id="Submit" type="submit" value="Actualizar" class="btn btn-success btn-large" />
    }else
    {
        <input id="Submit" type="submit" value="Guardar" class="btn btn-success btn-large" />
    }

    @Html.ActionLink("Regresar", "Listar", null, new { @class = "btn btn-info btn-large" })
}

