@model RH.Presentacion.MVC_C.Models.PersonaModel

@{
    ViewBag.Title = "Listado Personas";

}

<h2>@ViewBag.Title.</h2>
<p> @ViewBag.Message</p>

<div>
    <p>
        @Html.ActionLink("Nuevo", "FormCreateUpdate", null, new { @class = "btn btn-success btn-large" })
    </p>
    <dl>
        <dd>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                </tr>
                @foreach (var per in (IEnumerable<RH.Presentacion.MVC_C.Models.PersonaModel>)ViewBag.Personas)
                {
                    <tr>
                        <td>
                            @per.IdPersona
                        </td>
                        <td>
                            @per.Nombre
                        </td>
                        <td>
                            @per.Apellido
                        </td>
                        <td>
                            @per.Telefono
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "FormCreateUpdate", new { id = per.IdPersona }, new { @class = "btn btn-primary btn-large" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = per.IdPersona }, new { @class = "btn btn-danger btn-large" })|
                            <button id="SubmitBtn" type="submit" class="btn btn-primary" onclick="elimina('@per.IdPersona', '@per.Nombre')">
                                Eliminar con ajax
                            </button>
                            
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
@section scripts {
    <script type="text/javascript">

        function elimina(id, name) {
            var opcion = confirm("Desea eliminar la persona: " + name);
            if (opcion == true) {
                $.ajax({
                    url: "/Home/Eliminar", // Url
                    data: {
                        IdPersona: id
                    },
                    type: "post",  // Verbo HTTP
                    datatype: "json"
                })
                // Se ejecuta si todo fue bien.
                .done(function (result) {
                    if (result) {
                        alert("Se elimino correctamente.");
                        location.reload();
                    }
                    else {
                        alert("Se presento un inconveniente.");
                    }
                })
                // Se ejecuta si se produjo un error.
                .fail(function (xhr, status, error) {

                })
                // Hacer algo siempre, haya sido exitosa o no.
                .always(function () {

                });
          
            } else {
                return false;
            }

        }

    </script>
}



